body {
    font-family: Arial, sans-serif;
    background-color: rgb( 212, 212, 212 );
    text-align: center;
}

.navigator {
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: inline;
    float: right;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    padding: 0.5em;
    background-color: #111;

    a {
        text-decoration: none;
        color: #CCC;
        margin-right: 2em;
    }
}

.content {
    width: 60%;
    padding: 1em;
    text-align: left;
    border: 0.5em solid rgba( 255, 255, 255, 0.5 );
    background-color: rgba( 255, 255, 255, 0.75 );
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;

    .listing {
        .element {
            padding: 0.5em;
        }
    }

    .wish_form {
        .tags {
            width: 90%;
            padding: 0.5em;
            min-height: 10em;
            font-size: 1.5em;
            -moz-border-radius: 0.25em;
            border-radius: 0.25em;
            border-bottom-color: red;
        }

        .action {
            width: 50%;
        }

    }
}

.tag {
    -moz-border-radius: 0.15em;
    border-radius: 0.15em;
    background-color: rgba( 0, 0, 0, 0.2 );
    padding: 0.2em 0.7em 0.2em 0.7em;
}

.student {
    font-size: 1.5em;
    font-style: italic;
    text-decoration: underline;
    margin-right: 0.5em;
}

